
# pixi environments
.pixi
pixi.lock
*.egg-info

# conda environments
.conda

# python
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

reference_code/*
docs/build/
data/
cache/
moments/
simulations/
commit_message.txt
*.png
*.csv
CLAUDE.mdTODO_performance.md
